/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #2eaffa;
$main-color: #000;
$main-red: #c50000;
$main-green: #83ac14;
$main-brown: #9c6000;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}

.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.container1043 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1043px;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

// cover start=======================
#ribao {
    top: 30px;
    left: 40px;
    $ribao: '../images/ribao.png';
    width: image-width($ribao);
    height: image-height($ribao);
    background-image: url($ribao);
}

#tap-me-container {
    top: 192px;
    left: 172px;
    width: 221px;
    height: 45px;
}

#tap-me {
    top: 0;
    left: 59px;
    $tap-me: '../images/tap-me.png';
    width: image-width($tap-me);
    height: image-height($tap-me);
    background-image: url($tap-me);
}

#left-hand {
    top: 7px;
    left: 0;
    $left-hand: '../images/left-hand.png';
    width: image-width($left-hand);
    height: image-height($left-hand);
    background-image: url($left-hand);
}

#right-hand {
    top: 6px;
    right: 0;
    $right-hand: '../images/right-hand.png';
    width: image-width($right-hand);
    height: image-height($right-hand);
    background-image: url($right-hand);
}

#cover-bottom {
    bottom: 0;
    left: 0;
    $cover-bottom: '../images/cover-bottom.png';
    width: image-width($cover-bottom);
    height: image-height($cover-bottom);
    background-image: url($cover-bottom);
}

#theme {
    top: 260px;
    left: 51px;
    $theme: '../images/theme.png';
    width: image-width($theme);
    height: image-height($theme);
    background-image: url($theme);
}

#go-dz {
    top: 804px;
    left: 180px;
    $go-dz: '../images/go-dz.png';
    width: image-width($go-dz);
    height: image-height($go-dz);
    background-image: url($go-dz);
}

#go-dz-des {
    top: 893px;
    left: 180px;
    $go-dz-des: '../images/go-dz-des.png';
    width: image-width($go-dz-des);
    height: image-height($go-dz-des);
    background-image: url($go-dz-des);
}

// upload start==========================================================
#common-title {
    top: 41px;
    left: 38px;
    $common-title: '../images/common-title.png';
    width: image-width($common-title);
    height: image-height($common-title);
    background-image: url($common-title);
}

#common-bottom {
    bottom: 0;
    left: 0;
    $common-bottom: '../images/common-bottom.png';
    width: image-width($common-bottom);
    height: image-height($common-bottom);
    background-image: url($common-bottom);
}

#upload-container {
    top: 240px;
    left: 50%;
    width: 500px;
    height: 500px;
    border: 3px solid $main-brown;
    background: rgba(255, 255, 255, 0.7);
    @include transform(translate3d(-50%, 0, 0));
}

#upload-icon {
    $upload-icon: '../images/upload-icon.png';
    top: 50%;
    left: 50%;
    width: image-width($upload-icon);
    height: image-height($upload-icon);
    background-image: url($upload-icon);
    @include transform(translate3d(-50%, -50%, 0));
}

.confirm {
    $confirm: '../images/confirm.png';
    width: image-width($confirm);
    height: image-height($confirm);
    background-image: url($confirm);
}

.confirm-blue {
    $confirm-blue: '../images/confirm-blue.png';
    width: image-width($confirm-blue);
    height: image-height($confirm-blue);
    background-image: url($confirm-blue);
}

#upload-confirm {
    top: 817px;
    left: 178px;
}

// choose pic start===========================================
.trans-bg {
    background: rgba(0, 0, 0, 0.8);
}

#choose {
    top: 293px;
    left: 57px;
    $choose: '../images/choose.png';
    width: image-width($choose);
    height: image-height($choose);
    background-image: url($choose);
}

#from-sc {
    top: 68px;
    left: 123px;
    $from-sc: '../images/from-sc.png';
    width: image-width($from-sc);
    height: image-height($from-sc);
    background-image: url($from-sc);
}

#from-photo {
    top: 187px;
    left: 123px;
    $from-photo: '../images/from-photo.png';
    width: image-width($from-photo);
    height: image-height($from-photo);
    background-image: url($from-photo);
}

#sc-mb-container {
    top: 111px;
    left: 50px;
    $sc-mb-bg: '../images/sc-mb-bg.png';
    width: image-width($sc-mb-bg);
    height: image-height($sc-mb-bg);
    background-image: url($sc-mb-bg);
}

.close-btn {
    top: -28px;
    right: -17px;
    $close-btn: '../images/close-btn.png';
    width: image-width($close-btn);
    height: image-height($close-btn);
    background-image: url($close-btn);
}

#sc-mb-confirm {
    top: 685px;
    left: 130px;
}

#sc-mb-items {
    top: 49px;
    left: 40px;
    width: 450px;
    height: 613px;
    // background: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.sc-mb-item {
    position: relative;
    float: left;
    margin: 6px;
    width: 138px;
    height: 138px;
    background: #ffffff;
    border: 3px solid $main-brown;
}

.wide-content {
    width: 480px;
    height: 370px;
    background: #ffffff;
    border: 3px solid $main-brown;
}

#generating-container, #generated-container {
    top: 200px;
    left: 80px;
}

#mb-text {
    top: 582px;
    left: 44px;
    $mb-text: '../images/mb-text-bg.png';
    width: image-width($mb-text);
    height: image-height($mb-text);
    background-image: url($mb-text);
}

#reselect {
    $reselect: '../images/reselect.png';
    width: image-width($reselect);
    height: image-height($reselect);
    background-image: url($reselect);
}

.confirms {
    $confirms: '../images/confirms.png';
    width: image-width($confirms);
    height: image-height($confirms);
    background-image: url($confirms);
}

#mb-text-confrim {
    top: 895px;
    left: 331px;
}

#reselect {
    top: 895px;
    left: 65px;
}

#choose-text-type {
    top: 293px;
    left: 57px;
    $choose: '../images/choose.png';
    width: image-width($choose);
    height: image-height($choose);
    background-image: url($choose);
}

#mb-text-btn {
    top: 68px;
    left: 121px;
    $mb-text-btn: '../images/mb-text-btn.png';
    width: image-width($mb-text-btn);
    height: image-height($mb-text-btn);
    background-image: url($mb-text-btn);
}

#personal-text-btn {
    top: 187px;
    left: 121px;
    $personal-text-btn: '../images/personal-text-btn.png';
    width: image-width($personal-text-btn);
    height: image-height($personal-text-btn);
    background-image: url($personal-text-btn);
}

#adjust-guide {
    top: 113px;
    left: 142px;
    $adjust-guide: '../images/adjust-guide.png';
    width: image-width($adjust-guide);
    height: image-height($adjust-guide);
    background-image: url($adjust-guide);
}

#save-reminder {
    top: 629px;
    left: 115px;
    $save-reminder: '../images/save-reminder.png';
    width: image-width($save-reminder);
    height: image-height($save-reminder);
    background-image: url($save-reminder);
}

#change-btn {
    top: 725px;
    left: 198px;
    $change-btn: '../images/change-btn.png';
    width: image-width($change-btn);
    height: image-height($change-btn);
    background-image: url($change-btn);
}

#tieba-logo {
    top: 854px;
    left: 233px;
    $logo: '../images/logo.png';
    width: image-width($logo);
    height: image-height($logo);
    background-image: url($logo);
}

#mb-text-tabs {
    top: 19px;
    left: 21px;
}

.choose-tab {
    position: relative;
    float: left;
    width: 258px;
    height: 70px;
    border: 3px solid $main-brown;
    @include border-radius(40px);
    color: $main-brown;
    font: {
        size: 27px;
        weight: 700;
    }
    text: {
        align: center;
    }
    line-height: 70px;

}

#mb-tab {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#text-tab {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#personal-input {
    top: 131px;
    left: 47px;
    width: 467px;
    height: 114px;
    border: none;
    background: #ffffff;
    padding: 12px;
    font: {
        size: 32px;
    }
    resize : none;
}

.active-tab {
    background: $main-brown;
    color: #fff;
}

#template-text {
    top: 103px;
    left: 47px;
    $template-text: '../images/text-bg.png';
    width: image-width($template-text);
    height: image-height($template-text);
    background-image: url($template-text);
}

ul {
    margin: 0;
}

#text-lists {
    position: relative;
    list: {
        style: none;
    }
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 36px;
    color: $main-brown;
    // background: rgba(255, 0, 0, 0.3);
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    li {
        position: relative;
        margin: 0 40px 0 20px;
        padding: 20px 0;
        font: {
            size: 28px;
        }
        border: {
            bottom:  1px solid $main-brown;
        }
        // background: rgba(0, 255, 0, 0.3);
        &:last-child {
            border: {
                bottom: none;
            }

        }
    }

    label {
        display: inline-block;
        position: relative;
        width: 100%;
        vertical-align: top;
        // font: {
        //     size: 26px;
        // }
        padding: 0 80px 0 0;
        cursor: pointer;
        &::before {
            @include content("");
            border: 4px solid $main-brown;
            @include border-radius(50%);

        }
        // background: rgba(255, 0, 0, 0.4);
    }

    input[type="radio"], label::before {
        width: 34px;
        height: 34px;
        top: 50%;
        right: 0;
        margin: {
            top: -17px;
        }
        position: absolute;
        cursor: pointer;
    }

    input[type="radio"] {
        @include opacity(0);
        display: inline-block;
        vertical-align: middle;
        z-index: 100;
    }
}

.checked-circle {
    top: 50%;
    right: 0;
    margin: {
        top: -17px;
    }
    position: absolute;
    cursor: pointer;
    $checked: '../images/checked.png';
    width: image-width($checked);
    height: image-height($checked);
    background-image: url($checked);
}

#template-pics {
    width: 100%;
    height: 140px;
    margin: {
        top: 120px;
    }
    padding: 0 60px;
    // background: rgba(255, 0, 0, 0.2);
    white-space:nowrap;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 28px;
    background: #fff;
    border: 3px solid $main-brown;
    color: $main-brown;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-prev {
    $left-arrow: '../images/left-arrow.png';
    width: image-width($left-arrow);
    height: image-height($left-arrow);
    margin: {
        top: -(image-height($left-arrow)/2);
    }
    background-image: url($left-arrow);
    @include background-size(image-width($left-arrow) image-height($left-arrow));
}

.swiper-button-next {
    $right-arrow: '../images/right-arrow.png';
    width: image-width($right-arrow);
    height: image-height($right-arrow);
    margin: {
        top: -(image-height($right-arrow)/2);
    }
    background-image: url($right-arrow);
    @include background-size(image-width($right-arrow) image-height($right-arrow));
}

.pic-type-active {
    border: 3px solid $main-red;
}



#cover, #choose-pic, #sc-mb, #upload-page, #choose-text-type-container, #generated-page, #personal-input, #template1, #common-page1, #template-text {
    display: none;
}
